.span-descrition {
	position: absolute;
	z-index: 5;
	top: 0px;
	left: 0px;
	text-align: center;
	width: 100%;
	display: none;
	background-color: rgba(255, 255, 255)
}

.work-views tr td {
	white-space: pre;
}

.tableContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.tableContainer table {
	border: 1px solid white;
}

.task-views {}

.span-name:hover+td+.span-descrition,
.span-name:focus+td+.span-descrition,
.span-name:active+td+.span-descrition {
	display: inline-block;
}