.work-view {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: aqua;
}

.work-view table {
	text-align: left;
}

.topBarWorks {
	position: relative;
	/* background-color: red; */
	display: flex;
	flex-direction: row-reverse;
	border-radius: 5px;
}

.topBarWorks img {
	margin: 1%;
}