.work-view {
	position: relative;
}

.work-view table {
	text-align: left;
}

table tr {}

table td {}

td {
	min-width: 0px;
}

.topBarWorks {
	position: relative;
	background-color: red;
	display: flex;
	flex-direction: row-reverse;
	border-radius: 5px;
}

.topBarWorks img {
	margin: 1%;
}