.tbl-results {
	
	
}

.tbl-results tr {
	/* margin-top: 5px; */
}

.tbl-results {
	background-color: white;
	width: 97vw;
	position: relative;
	display: flex;
	flex-direction: column;
	
	margin-top:20px;
}

.tbl-results table {
	 text-align:center;
	 max-width: 100vw;
}

.tbl-results table tr td:nth-child(2) {
	max-width: 80%;
}