.control-panel-container {
	width: 100%;
	height: auto;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(28, 26, 26);
	padding-bottom: 5%;
}

.control-panel-container>h1 {
	color: white;
}

button {
	background-color: rgba(2, 2, 2, 0.99);
}