.control-panel-container {
	width: 100%;
	height: auto;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(119, 120, 117);
	padding-bottom: 5%;
}

button {
	background-color: rgba(2, 2, 2, 0.99);
}