/*
#root {
  max-width: 1280px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.icon {
	pointer-events: none;
}
*/